/* master.css */

/* Import the font file from the fonts directory */
@font-face {
  font-family: 'Iosevka Term Slab Font Mono';
  src: url('../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-LightOblique.ttf') format('truetype'); /* Adjust the path as needed */
}

/* Set the default font family for the entire document */
body {
  font-family: 'Iosevka Term Slab Font Mono', monospace; /* Use the IosevkaTermSlab Font Mono or fallback to generic monospace */
  padding-top: 60px; /* Adjust padding as needed */
}

/* /*

../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-Oblique.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-BoldOblique.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-LightItalic.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-ExtraBoldItalic.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-MediumOblique.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-MediumItalic.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-LightOblique.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-BoldItalic.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-Regular.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-Italic.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-ExtraBold.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-ExtraBoldOblique.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-Light.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-Medium.ttf
../fonts/IosevkaTermSlab/Mono/IosevkaTermSlabNerdFontMono-Bold.ttf

*/ 