.chat-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 1200px;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  
  max-height: calc(100vh - 150px);
  
}
.messages {
  padding: 20px;
}

.message {
  margin-bottom: 20px;
}

.message.assistant {
  color: #666;
}

.message.user {
  color: #333;
}

.message textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  resize: vertical;
  font-size: 16px;
  overflow-y: hidden; /* Add this to prevent scrollbar */
  height: calc(100% + 12px);
}
div.messages.assistant {
  height: fit-content;
  
}


.message textarea:focus {
  height: initial; /* Add this to allow textarea to grow */
  padding-bottom: 20px; /* Add this to add space for the text */
}
.message-input {
  background-color: #fff;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.message-input input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  width: 75%;
}

.message-input button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.message-input button[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loading {
  font-size: 16px;
  color: #666;
  text-align: center;
  padding: 20px;
}