.overall-homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.h1-homepage {
  font-size: 36px;
  font-weight: bold;
  color: #080077; /* Dark green, typical of the classic VIM color scheme */
  margin-bottom: 20px;
}

.content-homepage {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.content-homepage:last-child {
  border-bottom: none;
}

.content-homepage a {
  text-decoration: none;
  color: #337ab7; /* Blue color for links */
  transition: color 0.3s;
}

.content-homepage a:hover {
  color: #23527c; /* Darker blue on hover */
}

/* Responsive behavior */
@media (max-width: 768px) {
  .overall-homepage {
    padding: 20px;
  }
  .h1-homepage {
    font-size: 24px;
  }
  .content-homepage {
    margin-bottom: 10px;
  }
}